@charset "UTF-8";
/* 구글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:white;
    font-size:16px;
}
a,li {
    display:block;
    list-style-type: none;
    text-decoration:none;
}
.inner{
    width:1700px;
    margin:0 auto;
}
body{
    background-color:rgba(33, 33, 33, 0.9);
    position:relative;
    font-family:'Noto Sans CJK KR';
    overflow-x:hidden;
}
body,body div{
    z-index:10;
}
html{
    scroll-behavior: smooth;
}






header{
    width:100vw;
    padding:50px 100px;
    position:fixed;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:20;
}
.web{
    font-family: 'Arial';
    line-height:28px;
    font-size:14px;
}
.menu{
    display:flex;
    font-family:'Montserrat';
    text-align: center;
}
.menu li a{
    font-size:28px;
    width:200px;
    padding:20px 0;
}
.menu li a:hover{
    border: 1px solid white;
    border-radius:50%;
}



.intro{
    padding-top:340px;
    display:flex;
    justify-content: center;
    position:relative;
}
.pf{
    font-size:180px;
    font-family:'Montserrat';
    font-weight: bold;
    z-index:2;
}
.intro li{
    position:absolute;
}
.intro li:first-of-type{
    width:310px;
    height:155px;
    background:url(../images/indeximg/communication.png) 0 no-repeat;
    left:100px;
    top:280px;
    z-index:3;
    transform:rotate(-20deg);
    
    animation:st1 1s infinite alternate;
}
@keyframes st1 {
    from {transform:rotate(-20deg);}
    to {transform:rotate(20deg);}
}
.intro li:nth-of-type(2){
    width:330px;
    height:330px;
    background:url(../images/indeximg/funny.png) 0 no-repeat;
    left:40%;
    top:420px;

    animation:st2 10s infinite;
}
@keyframes st2 {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.intro li:last-of-type{
    width:150px;
    height:150px;
    background:url(../images/indeximg/responsibility.png) 0 no-repeat;
    right:130px;
    top:374px;
    z-index:3;
    
    animation:st3 3s infinite alternate;
}
@keyframes st3 {
    from {right:130px;}
    to {right:295px;}
}

.intro li:first-of-type:hover,.intro li:nth-of-type(2):hover,.intro li:last-of-type:hover{
    animation-play-state: paused;
    cursor:pointer;
    }

    




.about{
    padding-top:600px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.about span{
    color:rgb(160, 160, 160);
}
.about span:hover{
    color:white;
    transition: color 0.3s;
}
.title{
    font-family:'Montserrat';
    text-align:center;
    font-size:70px;
    font-weight:600;
}

.me{
    padding-top:100px;
    display:flex;
    justify-content: space-between;
}
.cht{
    width:650px;
    text-align:center;
}
.cht p{
    font-size:32px;
    font-family:'Arial';
    font-weight:bolder;
    padding-top:30px;
    padding-bottom:8px;
}
.cht span{
    line-height:30px;
}
.dani{
    width:650px;
    height:320px;
    background:url(../images/indeximg/DANI1.png) 50% no-repeat;
    background-size: contain;
}

.profile{
    width:1068px;
    display:flex;
    flex-wrap:wrap;
}
.profile>div{
    display:flex;
    justify-content: space-between;
}
.profile div p{
    font-family:'Montserrat';
    font-size:25px;
    color:#a155b0;
    font-weight:bold;
    width:210px;
}
.profile div p:hover{
    color:#f8d3ff;
    transition: color 0.3s;
}
.profile div span{
    width:305px;
    font-size:18px;
    line-height:38px;
    padding-left:20px;
    margin-top:-5px;
}
.tie{
    display:flex;
    flex-direction: column;
}
.tie span:first-of-type{
    padding-bottom:30px;
}
.profile div:nth-of-type(5){
    flex-direction: column;
    margin:50px 0 75px 0;
}
.profile div:nth-of-type(5) span{
    margin-top:40px;
    width:951px;
    height:375px;
    background:url(../images/indeximg/skills.png) 0 no-repeat;
    background-size:contain;
}
 





@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}
.clouds{
    height:750px;
    top:30px;
}



.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(https://i.imgur.com/v3xI5rv.png) repeat top center;
    z-index:3;
 
  animation:move-clouds-back 600s linear infinite;
}
.contact>.clouds{
    top:3850px;
}




.work,.contact{
    padding-top: 320px;
    display:flex;
    flex-direction: column;
}
.boxes{
    width:100%;
    overflow:hidden;
    display:flex;
    justify-content: space-between;
    padding-top:100px;
}
.boxes:last-of-type .box1{
    background:url(../images/indeximg/suit.jpg) 50% no-repeat;
    background-size:contain;
    width:630px;
    height: 440px; 
}

.box2{
    width:630px;
    padding-right:105px;
    position:relative;
}
.box2 p{
    font-size:23px;
    font-weight:500;
}
.box2 span{
    display:block;
    line-height: 38px;
    font-size:18px;
    margin-top:10px;
    font-weight:300;
}
.project{
    padding-top:26px;
    font-family:'Montserrat';
}
.seemore{
    display:flex;
    justify-content: space-between;
    text-align:center;
    padding-top:50px;
    position:relative;
}
.seemore span div{
    color:white;
}
.site,.pdf{
    width:250px;
    height:170px;
    opacity:0.5;
}
.fish{
    position:absolute;
    width:300px;
    height:230px;
    background:url(../images/indeximg/tongtong-fish.png) 50% no-repeat;
    background-size:contain;
    position:absolute;
    right:0px;
    top:-80px;
    cursor:pointer;

    animation-name: fish;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes fish {
    from {
        top:-80px;
    }
  
    to {
        top:-60px;
    }
  }
  .fish:hover{
    width:260px;
    transform: rotate( 360deg );
    transition:all 0.6s;
  }
.more1:hover .site,.more2:hover .pdf{
    opacity:1;
    transition:opacity 0.3s;
}
.black{
    background-color: rgba(0,0,0,0.5);
}

.work div:nth-child(2) .site{
    background:url(../images/indeximg/tongtong-site.jpg) 50% no-repeat;
    background-size:cover;
}
.work div:nth-child(2) .pdf{
    background:url(../images/indeximg/tongtong1.jpg) 50% no-repeat;
    background-size:cover;
}
.work div:nth-child(3) .site{
    background:url(../images/indeximg/orion-site.jpg) 50% no-repeat;
    background-size:cover;
}
.work div:nth-child(3) .pdf{
    background:url(../images/indeximg/orion_detail.jpg) 0  no-repeat;
    background-size:cover;
}





.slideContainer{
    overflow: hidden;
    width:630px;
    height:440px; 
}
.slideWrap{
    height:440px;
    width: 3150px;
}
.slide{
    position:relative; 
    float: left;   
}
.slide img{
    width:630px;
    height: 440px; 
    object-fit: cover;
}





.contact{
    height:1000px;
}
.contact .title{
    padding-bottom:100px;
}
.con{
    display:flex;
    padding:10px 0;
    font-family:'Montserrat';
    position:relative;
}
.con div{
    width:250px;
    font-weight:bold;
    font-size:30px;
    padding-left:40px;
}
.con p{
    font-size:27px;
    padding-left:40px;
}
.con div:hover,.con p:hover{
    opacity:0.5;
    transition:opacity 0.3s;
}
.contact div:nth-of-type(2) div::before,.contact div:nth-of-type(3) div::before{
    content:'';
    position:absolute;
    width:28px;
    height:28px;
}
.contact div:nth-of-type(2) div::before{
    background:url(../images/indeximg/mail.png) 50% no-repeat;
    background-size:contain;
    left:0;
    top:13px;
}
.contact div:nth-of-type(3) div::before{
    background:url(../images/indeximg/instagram.png) 50% no-repeat;
    background-size:contain;
    left:0;
    top:13px;
}

.dani2{
    width:500px;
    height:500px;
    position:absolute;
    background:url(../images/indeximg/DANI2.png) 50% no-repeat;
    background-size:contain;

    animation-name: dani2;
animation-duration: 8s;
animation-direction: alternate;
animation-iteration-count: infinite;
}

@keyframes dani2 {
from {
    right:10px;
    bottom:38px;
    transform: rotate( -10deg );
}

to {
    bottom:150px;
    right:500px;
    transform: rotate( 26deg );
}
}
.dani2:hover{
    animation-play-state: paused;
    cursor:pointer;
}





/* 모바일화면 */
@media all and (max-width: 640px) {
    body {
        min-width:320px;
        overflow-x: hidden;
    }
    .inner {
        width: 85%;
        flex-wrap:wrap;
    }
    *{
        font-size:14px;
    }


    header{
        padding:20px;
    }
    .web{
        line-height:16px;
        font-size:6px;
    }
    .menu li a{
        font-style: italic;
        font-size:13px;
        width:64px;
    }
    .menu li a:hover{
        border: none;
    }





    .intro{
        padding-top:150px;
    }
    .pf{
        font-size:70px;
    }
    .intro li:first-of-type{
        width:102px;
        height:52px;
        left:4%;
        top:125px;
        background-size:contain;
    }
    .intro li:nth-of-type(2){
        width:110px;
        height:110px;
        background-size:contain;
        left:40%;
        top:160px;
    }
    .intro li:last-of-type{
        width:62px;
        height:62px;
        background-size:contain;
        top:163px;
    }
    @keyframes st3 {
        from {left:79%;}
        to {left:70%;}
    }




    .about{
        width:100%;
        padding-top:150px;
        display:flex;
        justify-content: center;
        flex-direction: column;
    }
    .title{
        font-size:26px;
    }
    .me{
        padding-top:20px;
        flex-direction: column;
        align-items: center;
    }
    .dani{
        width:320px;
        height:180px;
    }
    .cht{
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .cht p{
        font-size:16px;
        font-weight:400;
        padding-top:20px;
    }
    .cht span{
        font-size:12px;
        line-height: 20px;
        width:85%;
    }

    .profile{
        margin-top:14px;
        width:85%;
        justify-content: space-between;
    }
    .profile div{
        margin-top:20px;
        width:270px;
    }
    .profile div:nth-of-type(2) span{
        margin-top:-25px;
    }
    .profile div p{
        font-size:16px;
        width:80px;
        display:flex;
        flex-wrap:wrap;
    }
    .profile div span{
        font-size:12px;
        line-height:26px;
        padding-left:0;
        margin-left:65px;
        width:130px;
    }
    .profile div:nth-of-type(5){
        margin:10px 0 0 0;
    }
    .profile div:nth-of-type(5) span{
        margin:20px 0;
        background:url(../images/indeximg/skills.png) 50% no-repeat;
        background-size:contain;
        width:560px;
        height:260px;
    }





    .work,.contact{
        padding-top: 130px;
    }
    .fish{
        display:none;
    }
    .boxes{
        padding-top:30px;
        flex-direction: column;
        align-items: center;
    }
    
    .slideContainer{
        width:300px;
        height: 200px; 
    }
    .slideWrap{
        height: 200px; 
        width: 1500px;
    }
    .slide{
        position:relative; 
        float: left;   
    }
    .slide img{
        width:300px;
        height: 200px; 
    }

    .box2{
        width:100%;
        padding-right:0;
        padding-top:10px;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .box2 p{
        font-size:16px;
        padding-top:4px;
    }
    .box2 span{
        margin-top:4px;
        line-height: 26px;
        font-size:12px;
        text-align:center;
    }

    .project{
        font-size:12px;
        padding-top:20px;
    }
    .seemore{
        width:100%;
        padding-top:4px;
    }
    .seemore span div{
        font-size:12px;
    }
    .more1,.more2{
        width:46%;
    }
    .site,.pdf{
        width:100%;
        height:150px;
        opacity:1;
    }
    .boxes:last-of-type{
        padding-top:80px;
    }
    .boxes:last-of-type .box1{
        
        width:100%;
        height: 200px; 
    }





    .contact{
        height:600px;
        text-align:center;
    }
    .contact .title{
        padding-bottom:30px;
    }
    .con{
        flex-direction: column;
    }
    .con div{
        width:100%;
        font-size:18px;
        padding-left:0;
    }
    .con p{
        font-size:14px;
        padding-left:0;
    }
    .contact div:nth-of-type(2) div::before,.contact div:nth-of-type(3) div::before{
        display:none;
    }

    .dani2{
        width:200px;
        height:200px;
    
    animation-duration: 2s;
    }
    @keyframes dani2 {
        from {
            right:10px;
            bottom:30px;
        }
        to {
            right:50px;
            bottom:30px;
        }
    }





      .clouds{
          height:500px;
          top:-100px;
          background-size:cover;
      }
      .contact>.clouds{
        top:2850px;
    }
    .grid{
        width:280px;
        border:solid red 1px;
        z-index:11111111111111111;
        height:5000px;
        position:absolute;
        top:0;
        display:flex;
        margin-left:20px;
    }
    .kan{
        width:38px;
        border:solid red 1px;
    }
    .space{
        width:10px;
        border:solid red 1px;
    }


}



@media all and (min-width:320px) and (max-width:449px){
    .intro li:first-of-type{
        width:94px;
        height:44px;
        left:-10px;
        top:125px;
        background-size:contain;
    }
    .intro li:nth-of-type(2){
        width:100px;
        height:100px;
        background-size:contain;
        left:36%;
        top:160px;
    }
    .intro li:last-of-type{
        width:40px;
        height:40px;
        background-size:contain;
        top:158px;
    }
    @keyframes st3 {
        from {right:-2%;}
        to {right:10%;}
    }

    .pf{
        font-size:44px;
    }



    .profile div:nth-of-type(5) span{
        margin:20px 0;
        background:url(../images/indeximg/skills-m.png) 50% no-repeat;
        background-size:contain;
        width:280px;
        height:400px;
    }



        .site,.pdf{
        height:100px;
    }
}


@media all and (min-width:450px) and (max-width: 639px) {
    .intro li:first-of-type{
        width:96px;
        height:46px;
        top:126px;
        left:-14px;
    }
    .intro li:last-of-type{
        width:50px;
        height:50px;
        top:158px;
    }
    @keyframes st3 {
        from {left:82%;}
        to {left:66%;}
    }
    
    .pf{
        font-size:55px;
    }



    .profile div:nth-of-type(5) span{
        margin:20px 0;
        background:url(../images/indeximg/skills.png) 50% no-repeat;
        background-size:contain;
        width:430px;
        height:200px;
    }



    .box2 span{
        margin-top:10px;
    }
}