@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* border: red solid 1px; */
}

a,li {
list-style-type: none;
text-decoration:none;}
:root {
    font-size: 16px;
    font-family: 'Noto Sans CJK KR';
    --swiper-navigation-size: 70px;
}
.inner {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.serif {
    font-family: 'Noto Serif CJK KR';
}
body {
    position:relative;
    background-color: #ededee;
}



/* 헤더와 메뉴 */
header {
    width:100%;
    padding-top:25px;
    position:fixed;
    z-index:200;
}
/* 헤더 메뉴별 배경 */
header.fade1 {
    background:#148c44;
}
header.fade2 {
    background:#40c1f0;
}
header.fade3 {
    background:#cc1a6a;
}
header.fade4 {
    background:#efa04d;
}
header.fade5 {
    background:#801341;
}



header div.inner {
    width: 85%;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
header ul {
    display:flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
header ul li a{
    color:#575757;
    margin: 0 20px;
    font-size:1.125rem;
}
header ul button {
    background:none;
    cursor: pointer;
    margin: 0 20px 0 8px;
    padding:9px 13px;
    border-radius: 50%;
    border: #575757 solid 2px;
    font-size:1.125rem;
}

.logo,.w_logo{
    height:87px;
    width:150px;
}
.logo {
    background:url(../images/tongtong/logo.png) 0 no-repeat;
    background-size:contain;
    z-index:15;
}
.w_logo{
    background:url(../images/tongtong/w_logo.png) 0 no-repeat;
    background-size:contain;
    display:none;
}


 /* 햄버거메뉴 */
  .toggle {
    display: block;
    cursor: pointer;
  }
  .toggle span {
    display: block;
    background: #575757;
    width: 42px;
    height: 4px;
    border-radius: 3px;
    transition: 0.25s margin 0.25s, 0.25s transform;
  }
  .toggle span:nth-child(1) {
    margin-bottom: 8px;
  }
  .toggle span:nth-child(3) {
    margin-top: 8px;
  }
  .toggle.active span {
    transition: 0.25s margin, 0.25s transform 0.25s;
  }
  .toggle.active span:nth-child(1) {
    margin-bottom: -4px;
    transform: rotate(45deg);
  }
  .toggle.active span:nth-child(2) {
    transform: rotate(45deg);
  }
  .toggle.active span:nth-child(3) {
    margin-top: -4px;
    transform: rotate(135deg);
  }


.fadeTab{
    position: relative;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.tab-menu{
    padding-top:20px;
    width: 1200px;
    display: flex;
    justify-content: flex-end;
    z-index:10;
}
.tab-menu li{
    font-size:1.12rem;
    line-height: 3rem;
    font-weight: 400;
    opacity:0.5;
    color: white;
    padding: 0px 23px 20px 23px;
    position: relative;
    cursor: pointer;
}
.tab-menu li.on{
    opacity:1;
}
.tab-menu li:hover{
    opacity:1;
}
.tab-menu li:first-child{
    margin: 0;}
.tab-menu li::after,.tab-menu li:hover::after{
    content:"";
    position:absolute;
    top:42px;
    left:10%;
    background-color: white;
    width:0;
    height:2px;
}
.tab-menu li.on::after,.tab-menu li:hover::after{
    width:80%;
    transition:all 0.5s;
}

.conBox{
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    margin: 500px 18px 0 0;
    display: flex;
    align-items: flex-end;
}
.con-main,.con-main li a {
    margin:0;
    color:white;
    font-size:3.8rem;
    letter-spacing: -0.1rem;
    font-weight:400;
    display:flex;
    flex-direction:row-reverse;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.con-main li{
    padding:27px 0 0 55px;
    cursor: pointer;
}
.con-main>li:hover{
    opacity:0.45;
    transition:opacity 0.3s;
}
  


/* 아이콘메뉴 */
.icon-menu {
    color:white;
    font-size:1.12rem;
    position:absolute;
    top:750px;
    right:150px;
    cursor: pointer;
}
.icon-menu li{
    margin-top:40px;
    display:flex;
    flex-direction: column;
    opacity:0.4;
    width:135px;
}
.icon-menu li:hover{
    transition:all 0.6s;
    opacity:1;
    margin:0;
}
.icon-menu li:nth-of-type(4) {
    display:flex;
    flex-direction: column-reverse;
    height:85px;
    background:url(../images/tongtong/nadeul.png)  50% 0 no-repeat;
}
.icon-menu span{
    padding-bottom:10px;
    font-size:3rem;
}


/* 자주색 배경 */
.purple{
    background-color: #801341;
    width:100%;
    height:400px;
    color:white;
}

.purple .serif{
    font-size:4.6rem;
    padding-top:200px;
}
.purple p:last-of-type{
    font-size:1.15rem;
    padding-top:10px;
}


/* 본문 */
.content ul{
    padding-top:150px;
    display:flex;
}
.content ul:nth-of-type(2){
    padding-top:230px;
    justify-content:space-between;
}
.tt{
    width:30%;
    color:#4e4e4e;
    font-size:2.15rem;
    font-weight:500;
    letter-spacing: -0.1rem;
    position:relative;
    text-align: left;
}
.content ul:nth-of-type(2) .tt{
    background-color: #ededee;
}
.txt {
    width:70%;
    color:#4e4e4e;
    font-size:1.33rem;
    line-height:2.6rem;
    text-align: left;
    background-color: #ededee;
    padding-left:15px;
    z-index:10;
}

.tt::before{
    position:absolute;
    content:'';
    background-color: #801341;
    width:72px;
    height:7px;
    top:-12px;
}

li[class*="tt"]::after{
    position:absolute;
    content:url(../images/tongtong/dot5.png);
}
.content ul:first-of-type .tt::after{
display:none;
}
.content ul:nth-of-type(2) .tt::after{
    width:100px;
    left:205px;
    top:-10px;
}

/* 우리시장 자랑하기, 내가 쓴 글 보러가기 */
.buttons{
    display:flex;
    justify-content: center;
    align-items: center;
}
.buttons button{
    font-size:1.4rem;
    background:#801341;
    color:#ededee;
    height:90px;
    width:380px;
    padding:0 100px 0 85px;
    cursor:pointer;
    border-radius:20px;
    margin:50px 20px 0 20px;
    position:relative;
}
.buttons::after{
    clear:both;
    display:block;
    content:'';
}
.buttons button:first-of-type{
    float:left;
}
.buttons button:first-of-type span{
    position:absolute;
    top:31px;
    left:280px;
}
.buttons button:last-of-type{
    float:right;
}
.buttons button:last-of-type span{
    position:absolute;
    top:31px;
    left:265px;
}




/* 검색창 */
.content.inner ul{
    width:100%;
    display:flex;
    justify-content: center;
}
input{
    width:750px;
    height:80px;
    border-radius: 100px;
    padding:0 90px 0 50px;
    font-size:1.75rem;
    border:solid 2px #801341;
}
.search{
    position:relative;
}
.search button{
    cursor:pointer;
    background: none;
    border:none;
    position:absolute;
    top:19px;
    left:90%;
}
.search button span{
    color:#801341;
    font-size:2.8rem;
}



/* 우리시장 자랑 */
.pd{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.proud{
    overflow:hidden;
    width:375px;
    height:100%;
    margin-top:80px;
    color:#4e4e4e;
    position:relative;
}

a[class*="thumb"]{
    border-radius:20px;
    width:375px;
    height:375px;
    display:inline-block;
}
.proud:first-of-type .thumb{
    background:url(../images/tongtong/proud1.png) 50% no-repeat;
}
.proud:nth-of-type(2) .thumb{
    background:url(../images/tongtong/proud2.png) 50% no-repeat;
}
.proud:nth-of-type(3) .thumb{
    background:url(../images/tongtong/proud3.png) 50% no-repeat;
}
.proud:nth-of-type(4) .thumb{
    background:url(../images/tongtong/proud4.png) 50% no-repeat;
}
.proud:nth-of-type(5) .thumb{
    background:url(../images/tongtong/proud5.png) 50% no-repeat;
}
.proud:nth-of-type(6) .thumb{
    background:url(../images/tongtong/proud6.png) 50% no-repeat;
}

.proud div{
    width:375px;
    height:375px;
    overflow:hidden;
    border-radius:20px;
}
.proud:hover a:first-child{
    -webkit-transform:scale(1.1); /*  크롬 */
    -moz-transform:scale(1.1); /* FireFox */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
    transition: transform .35s;
    -o-transition: transform .35s;
    -moz-transition: transform .35s;
    -webkit-transition: transform .35s;
}

.name{
    margin-top:12px;
    color:#4e4e4e;
    background-color: #ededee;
    font-size:1.45rem;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    width:100%;
    height:35px;
    display:inline-block;
}
.name:hover{
    font-weight: 500;
}

.content.inner .proud ul{
    justify-content: space-between;
    padding-top:0;
}
.proud li{
    font-size:1.2rem;
}
.proud li:first-of-type{
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    width:50%;
}
.proud li:first-of-type:hover{
    overflow:unset;
}
.proud li,.name{
    padding:0 16px;
}
.proud li:hover,.name:hover{
    color:#951d4f;
}

/* 페이지버튼 */
.page{
    cursor:pointer;
    padding:75px 0 200px 0;
    display:flex;
    justify-content: center;
}
.page span{
    margin:0 15px;
    width:27px;
    display:inline-block;
}
.page span:first-of-type{
    background:url(../images/tongtong/next.png) 0 no-repeat;
    background-size:contain;
}
.page span:last-of-type{
    background:url(../images/tongtong/prev.png) 0 no-repeat;
    background-size:contain;
}
.page div{
    width:50px;
    height:50px;
    font-size:1.6rem;
    font-weight:500;
    border:#575757 solid 2px;
    border-radius:50%;
    margin:0 12px;
    background-color:#575757;
    color:#ededee;
}
.page div:hover,.page div:first-of-type{
    color:#575757;
    background-color:#ededee;
}








/* 탑버튼 */
#top{
    position:fixed;
    bottom:8%;
    right:8%;
    display:none;
    z-index:100;
    width:45px;
    height:45px;
    background:url(../images/tongtong/top.png) 0 no-repeat;
    background-size:contain;
}

/* 푸터 */
footer {
    height:520px;
    background-color: #656565;
    display:flex;
    align-items: center;
}

.f-logo {
    width:45%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}
.f-logo a {
    display:inline-block;
    width:240px;
    height:130px;
    margin-bottom:50px;
    background-size:contain;
}

.f-logo a:first-child {
    background:url(../images/tongtong/foot-logo.png) 50% no-repeat;
    opacity:0.3;
}
.f-logo a:first-child:hover {
    transition:opacity 0.35s;
    opacity:0.7;
}
.f-logo a:last-child {
    background:url(../images/tongtong/foot-logo2.png) 50% no-repeat;
    opacity:0.5;
}
.f-logo a:last-child:hover {
    transition:opacity 0.4s;
    opacity:1;
}

ul.copy {
    margin-bottom:15px;
    display:flex;
    justify-content: space-between;
}
.copy a,.copy{
    font-size:1.25rem;
    color:#a1a1a1;
    position:relative;
}
.copy a:after {
    content:'';
    background-color:#a1a1a1;
    width:1px;
    height:20px;
    position:absolute;
    top:0;
    margin:6px 0 0 23px;
}
p.copy:after{
    display:none;
}






/* 모바일화면 */
@media all and (max-width: 640px) {
    body {
        min-width:320px;
        background-color: #ededee;
    }
    .inner {
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }
    :root {
        font-size: 12px;
        font-family: 'Noto Sans CJK KR';
        --swiper-navigation-size: 70px;
    }


/* 헤더와 메뉴 */
header {
    background-color: #801341;
    padding-top:10px;
}
.logo {
    width:100px;
}
.w_logo{
    background:url(../images/tongtong/w_logo.png) 0 no-repeat;
    width:100px;
    background-size:contain;
}
header ul button {
    font-size:1.3rem;
    padding:5px 9px;
    margin:0;
    border: #575757 solid 1px;
    position:fixed;
    top:35px;
    right:68px;
}
header div.inner{
    flex-direction:column;
    justify-content: flex-start;
    align-items:flex-start;
    text-align:left;
}
header ul {
    align-items: flex-start;
    flex-direction: column;
}

    /* 햄버거 */
    .toggle {
        position:fixed;
        top:39px;
        right:22px;
      }
      .toggle span {
        width: 35px;
        height: 3px;
      }
      .toggle span:nth-child(1) {
        margin-bottom: 7px;
      }
      .toggle span:nth-child(3) {
        margin-top: 7px;
      }
      .toggle.active span:nth-child(1) {
        margin-top: 10px;
      }
      .toggle.active span:nth-child(2){
          margin-top:2px;
      }


      /* 메뉴 */
      .icon-menu ul{
        display:none;
    }
      .tab-menu{
        padding-top:0;
        width: 85%;
    }
    .tab-menu li{
        font-size:1.8rem;
        line-height:2.2rem;
        padding: 0 25px 30px 0;
    }


    .tab-menu li::after,.tab-menu li:hover::after{
display:none;
    }
    .tab-menu li.on::after,.tab-menu li:hover::after{
        width:80%;
        transition:all 0.5s;
    }

    .fadeTab{
        margin-top:40px;
        justify-content: flex-end;
        align-items: flex-start;
    }
    header .conBox{
        position:relative;
        margin: 0;
        width:50%;
    }
    .con-main,.con-main li a {
        font-size:1.3rem;
        flex-direction:column;
        padding-top:0;
    }
    .con-main li{
        padding: 0 0 25px 0;
    }


/* 자주색 배경 */
.purple{
    height:230px;
}
.purple .serif{
    font-size:3.4rem;
    line-height:4.3rem;
    padding-top:120px;
}
.purplee p:last-of-type{
    font-size:1.25rem;
    padding-top:15px;
}

/* 검색창 */
input{
    width:100%;
    height:60px;
    padding:0 60px 0 30px;
    font-size:1.5rem;
}
.search button{
    top:15px;
    left:81.5%;
}


/* 우리시장 자랑 */
.pd{
    justify-content: space-between;
    align-items: center;
}
.proud{
    width:50%;
    height:210px;
    margin-top:25px;
}
a[class*="thumb"],.proud div{
    width:126px;
    height:150px;
}
.proud:first-of-type .thumb,.proud:nth-of-type(2) .thumb,.proud:nth-of-type(3) .thumb,.proud:nth-of-type(4) .thumb,.proud:nth-of-type(5) .thumb,.proud:nth-of-type(6) .thumb{
    background-size:cover;
}
.name{
    font-size:1.4rem;
    font-weight: 500;
    height:25px;
}
.proud li,.name{
    padding:0 7px;
}
.proud li{
    font-size:1.1rem;
}
.proud li:first-of-type{
    overflow:visible;
    white-space:normal;
    width:100%;
    padding-bottom:3px;
}


/* 우리시장 자랑하기, 내가 쓴 글 보러가기 */
.buttons button{
    font-size:1.4rem;
    height:120px;
    width:140px;
    margin:15px 5px 7px 5px;
    padding:30px 15px 0 15px;
}
.buttons button:first-of-type span{
    position:absolute;
    left:50px;
    top:15px;
}
.buttons button:last-of-type span{
    position:absolute;
    left:50px;
    top:15px;
}

/* 본문 */
.content ul{
    padding-top:70px;
    flex-direction: column;
}
.content ul:first-of-type{
    padding:45px 0 80px 0;
}
.content ul:nth-of-type(2){
    padding-top:0;
}

.tt {
    width:100%;
    font-size:2.5rem;
}
.tt::after{
    display:none;
}
.txt {
    width:100%;
    font-size:1.4rem;
    padding:5px 0 15px 0;}

    
/* 페이지버튼 */
.page{
    padding:40px 0 100px 0;
}
.page span{
    margin:0 15px;
    width:20px;
}
.page div{
    width:40px;
    height:40px;
    font-size:1.4rem;
    padding-top:5px;
    margin:0 5px;
}


/* 푸터 */
footer {
    height:480px;
    padding:8% 0;
}
.f-logo {
    width:90%;
    justify-content: none;
}
.f-logo a {
    width:45%;
    margin-bottom:8%;
}
.f-logo a:first-child {
    opacity:0.6;
    background-size:contain;
}
.f-logo a:last-child{
    opacity:1.2;
    background-size:contain;
}

ul.copy {
    margin-bottom:10%;
    justify-content: center;
    flex-wrap:wrap;
}
.copy a{
    font-size:1.4rem;
}
.copy{
    font-size:1.2rem;
    line-height:2rem;
}
.copy:first-of-type:before,.copy:first-of-type:after,.copy a:after {
display:none;
}


/* 탑버튼 */
#top{
    bottom:10%;
    right:10%;
    width:30px;
    height:30px;
}

}
